# Challenge: Rick and Morty API

![](http://as01.epimg.net/epik/imagenes/2019/02/12/portada/1549970850_227267_1549973816_noticia_normal.jpg)


**In this challenge, you'll develop codes to parse and analyze data returned from the [Rick and Morty API](https://rickandmortyapi.com/).** The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
from IPython.display import Image
from IPython.core.display import display, HTML
import requests
import time
import pandas as pd

In [50]:
# your code here
url = 'https://rickandmortyapi.com/api/character'

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [64]:
# your code here
res = requests.get(url)
res_json = res.json()
print(len(res_json['results']))#[0]['url'])
#k = res_json.keys()
#links = [res_json[l] for l in k]

20

In [77]:
links =[]
for i in range(2,len(res_json['results'])):   #[0]['url']:
    links.append(res_json['results'][i]['url'])
links

['https://rickandmortyapi.com/api/character/3',
 'https://rickandmortyapi.com/api/character/4',
 'https://rickandmortyapi.com/api/character/5',
 'https://rickandmortyapi.com/api/character/6',
 'https://rickandmortyapi.com/api/character/7',
 'https://rickandmortyapi.com/api/character/8',
 'https://rickandmortyapi.com/api/character/9',
 'https://rickandmortyapi.com/api/character/10',
 'https://rickandmortyapi.com/api/character/11',
 'https://rickandmortyapi.com/api/character/12',
 'https://rickandmortyapi.com/api/character/13',
 'https://rickandmortyapi.com/api/character/14',
 'https://rickandmortyapi.com/api/character/15',
 'https://rickandmortyapi.com/api/character/16',
 'https://rickandmortyapi.com/api/character/17',
 'https://rickandmortyapi.com/api/character/18',
 'https://rickandmortyapi.com/api/character/19',
 'https://rickandmortyapi.com/api/character/20']

In [78]:
total=[]
for li in links:
    temporal = requests.get(li)
    t_json = temporal.json()
    total.append(t_json)

In [98]:
total[1]

{'id': 4,
 'name': 'Beth Smith',
 'status': 'Alive',
 'species': 'Human',
 'type': '',
 'gender': 'Female',
 'origin': {'name': 'Earth (Replacement Dimension)',
  'url': 'https://rickandmortyapi.com/api/location/20'},
 'location': {'name': 'Earth (Replacement Dimension)',
  'url': 'https://rickandmortyapi.com/api/location/20'},
 'image': 'https://rickandmortyapi.com/api/character/avatar/4.jpeg',
 'episode': ['https://rickandmortyapi.com/api/episode/6',
  'https://rickandmortyapi.com/api/episode/7',
  'https://rickandmortyapi.com/api/episode/8',
  'https://rickandmortyapi.com/api/episode/9',
  'https://rickandmortyapi.com/api/episode/10',
  'https://rickandmortyapi.com/api/episode/11',
  'https://rickandmortyapi.com/api/episode/12',
  'https://rickandmortyapi.com/api/episode/14',
  'https://rickandmortyapi.com/api/episode/15',
  'https://rickandmortyapi.com/api/episode/16',
  'https://rickandmortyapi.com/api/episode/18',
  'https://rickandmortyapi.com/api/episode/19',
  'https://rickandmortyapi.com/api/episode/20',
  'https://rickandmortyapi.com/api/episode/21',
  'https://rickandmortyapi.com/api/episode/22',
  'https://rickandmortyapi.com/api/episode/23',
  'https://rickandmortyapi.com/api/episode/24',
  'https://rickandmortyapi.com/api/episode/25',
  'https://rickandmortyapi.com/api/episode/26',
  'https://rickandmortyapi.com/api/episode/27',
  'https://rickandmortyapi.com/api/episode/28',
  'https://rickandmortyapi.com/api/episode/29',
  'https://rickandmortyapi.com/api/episode/30',
  'https://rickandmortyapi.com/api/episode/31',
  'https://rickandmortyapi.com/api/episode/32',
  'https://rickandmortyapi.com/api/episode/33',
  'https://rickandmortyapi.com/api/episode/34',
  'https://rickandmortyapi.com/api/episode/35',
  'https://rickandmortyapi.com/api/episode/36',
  'https://rickandmortyapi.com/api/episode/38',
  'https://rickandmortyapi.com/api/episode/39',
  'https://rickandmortyapi.com/api/episode/40',
  'https://rickandmortyapi.com/api/episode/41'],
 'url': 'https://rickandmortyapi.com/api/character/4',
 'created': '2017-11-04T19:22:43.665Z'}

## Bonus

Extract the following information from the data:

* The character who appeared in most episodes (aside from Rick and Morty, of course!).

* The total number of dead characters.

* A list of all character origins (without duplicates).

In [88]:
# your code here
names =[]
episodes = []
for char in total:
    names.append(char['name'])
    episodes.append(len(char['episode']))
print(len(names))
print(len(episodes))
df = pd.DataFrame({'names':names,'episodes':episodes})
df

18
18

                        names  episodes
0                Summer Smith        33
1                  Beth Smith        33
2                 Jerry Smith        29
3   Abadango Cluster Princess         1
4            Abradolf Lincler         2
5            Adjudicator Rick         1
6             Agency Director         1
7                  Alan Rails         1
8             Albert Einstein         1
9                   Alexander         1
10               Alien Googah         1
11                Alien Morty         1
12                 Alien Rick         1
13               Amish Cyborg         1
14                      Annie         1
15              Antenna Morty         2
16               Antenna Rick         1
17    Ants in my Eyes Johnson         1

In [97]:
names =[]
status = []
for char in total:
    if char['status'] == 'Dead':
        status.append(char['status'])
        names.append(char['name'])
print("total of "+ str(len(status)) + ' dead characters')
#df = pd.DataFrame({'names':names,'dead':status})
df

['Adjudicator Rick', 'Agency Director', 'Alan Rails', 'Albert Einstein', 'Alexander', 'Amish Cyborg']
total of 6 dead characters

Empty DataFrame
Columns: [names, dead]
Index: []

In [102]:
names =[]
origins = []
for char in total:
    if char['origin']['name'] not in origins:
        origins.append(char['origin']['name'])
    #names.append(char['name'])
df = pd.DataFrame({'origins':origins})
df

                         origins
0  Earth (Replacement Dimension)
1                       Abadango
2                        unknown
3                  Earth (C-137)